APP_NAME=proworkspace
NODE_ENV=development
ENVIRONMENT=development

APP_PORT=3010
ADMINER_PORT=5050

MAIN_DOMAIN=example.com
AUTH_DOMAIN=auth
NS_DOMAIN=ns1,ns2
DNS_DOMAIN=dns
DEV_DOMAIN=dev
EXTRA_DOMAINS=
CERTBOT_EMAIL=admin@example.com
CERTBOT_STAGING=false
CERTBOT_WEBROOT=/var/www/certbot
VPS_IPV4=
VPS_IPV6=

POSTGRES_DB=proworkspace
POSTGRES_USER=proworkspace
POSTGRES_PASSWORD=change_me

REDIS_PASSWORD=change_me

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=change_me

MEILI_MASTER_KEY=change_me

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me
